.App {
  text-align: center;
}

h2 {
  margin: .4em;
  padding: 1em;
  font-size:large ;
}

header {
  background-color: #245e68;
  max-height: 23vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  top:0;
  }
  .headerWrapper{
    position: relative;
    height: 20em;
  }
.viewAppBtn{
    position: relative;
    height: 3em;
    background-color: peru;
    margin: .2em;    
}
/* all buttons */
button {
  background-color: #5ca1e1;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  right: -30px;
  transition: 0.5s;
  color: #f3edef;
  
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

/* end of btn */
.viewPeformanceWrapper{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgb(27, 20, 20);
  display: flex;
  flex-flow: column;
  background-size: cover;
  top: 12em;
}
.viewPerformanceBtn{
  margin-left: 2em;
}
.viewBtnLive{
  padding-left: .3em ;
  background-color: black;
  margin: .3em;
  height: max-content;
}
.perBtnWrapper{
    position: absolute;
    top: 5em;
    margin: 1em;
}
.performanceImage{
  height: 100%;
  object-position: center;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


.inner-div {
  background: #fff;
  padding: 20px;
  width: max-content ;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  /* transform: scale(-2); */
  border-radius: 1em;
  
  margin: 0 auto;

}
.outer-div{
  position: relative;
    /* changes */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40em;
    background-color: #acacac;
    margin: 2em 2em 5em 2em;
 
}

.content {
  display: block;
  background: rgb(22, 85, 90);
  color: rgb(27, 58, 55);
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 1em;
  padding: 1em;
}

.hidden {
  display: none;
}

.success {
  display: block;
  background: #fff;
  color: #333;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}


/* question three css */

.divWrapper{
        position: relative;
        color: #acacac;
        background-color: rgb(32, 68, 68);
        padding: 1em;
        margin: 1em;
        width: max-content;

}
.thisisright{
  position: relative;
  padding: .5em;
}


/* number four css */


.noFourH2{
  color:antiquewhite;
  display: flex;
  justify-content: center;
}
.noSpan{
      font-size: .6em;
      margin-left: 2em;
      background-color: #038a61;
      padding: .3em;
      border-radius: .5em; 

}
.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  background: #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.listWrap{
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   width: 100%;
   background-color: #acacac;
   margin-top: 5em;
   align-items : center;
  }

  #innerListWrapper{
    /* background-color: rgba(44, 41, 37, 0.644); */
    margin: 1em;
    padding: 1em;
    border-radius: .5em; 
    width: 600px;   
  }

/* question five css */


.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

#listWrap5{
   opacity: 50%;
   z-index: 10;
   margin-bottom: 5em;
}

.box {
  font-size: 14px;
  background: #fff;
  display: inline-block;
  padding: 10px;
  color: #333;
  margin: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
}

.usersApi{
 position: relative;
 background-color: rgba(6, 165, 165, 0.678); 
 width: 100%;
}
.userApiHeader{
  border-bottom-style: inset;
}