.App {
  text-align: center;
}


header {
  background-color: #282c34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inner-div {
  background: #fff;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  /* transform: scale(-2); */
  
  margin: 0 auto;

}
.outer-div{
  position: relative;
    /* changes */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
}

.content {
  display: block;
  background: #fff;
  color: #333;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.success {
  display: block;
  background: #fff;
  color: #333;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}


/* number four css */


h2 {
  margin: 0 4px;
  padding: 0;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  background: #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

/* question five css */


.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.box {
  font-size: 14px;
  background: #fff;
  display: inline-block;
  padding: 10px;
  color: #333;
  margin: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
